{% extends 'layouts/main.html' %}

{% block content %}
<div class="text-center mt-40">
  <h1>
    Stripe Press Shop
  </h1>
  <p class="text-secondary">
    Select an item to purchase
  </p>
</div>
<div class="mt-40 row">
  {% for book in books %}
    <div class="col">
      <div class="card box-shadow">
        <img src="{{ book.image_path }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <strong>{{ book.author }}</strong>
          <p class="card-text mt-20">
            {{ book.desc }}
          </p>
          <a href="/checkout?item={{ book.id }}" class="btn btn-primary btn-block">Purchase - $<span class="amount" data-amount="{{ book.amount }}"></span></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
